GetAppointments DateTime issue: The value '2020-03-10T19:44:44 0000' is not valid for DateTime

The GetAppointments endpoint requires a Start and End date as per the documentation.

```
{
          "name" : "Start",
          "in" : "query",
          "description" : "Only return appointments where the `start` field is on or after the ISO8601 date and time value provided",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "End",
          "in" : "query",
          "description" : "Only return appointments where the `end` field is on or before the ISO8601 date and time value provided",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }
```

However, when you send a ISO8601 date format of "Y-m-d\TH:i:sO", you get the error:

`The value '2020-03-10T19:44:44 0000' is not valid for DateTime.`

I think you need to be using "date" rather than "date-time" as per the documentation:

https://swagger.io/docs/specification/data-models/data-types/#string

Alternatively, you should accept the date-time described.

Thanks.

Hi @jpswade 

Thanks for the feedback. Those query strings are certainly both intended to be date-time fields.

Is '2020-03-10T19:44:44 0000' a valid ISO8601 date time? I can't find reference to that specific format on  [wikipedia](https://en.wikipedia.org/wiki/ISO_8601) or [w3.org](https://www.w3.org/TR/NOTE-datetime).

Additionally, we require a [timezone designator](https://en.wikipedia.org/wiki/ISO_8601#Time_zone_designators) be provided. I have just made this requirement a little clearer in our documentation.

Your API is returning that error. It appears to be converting the '+0000' (the timezone designator) to ' 0000', converting the plus symbol (+) to a space.

The swagger documentation says that the date-time notation is as defined by RFC 3339, section 5.6, for example, 2017-07-21T17:32:28Z. Is this the format you're expecting?

The request URL looks like this: `https://dev.platform.reapit.cloud/appointments/?Start=2020-02-09T20%3A05%3A06%2B00%3A00&End=2020-03-10T20%3A05%3A06%2B00%3A00`

This does not work. When I remove the time and timezone elements of the date, it works fine.

This would suggest that either your API is wrong or your documentation is wrong.